<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>reveal.js - The HTML Presentation Framework</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/sky.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>Angular JS Intro</h1>
					<h3>Basics, Best Practices, Tips and Tricks</h3>
					<p>
						<small>Created for Alley Interactive</small>
					</p>
				</section>

				<section>
					<h2>Angular is:</h2>
          <ol>
            <li class="fragment">Built for complex UIs</li>
            <li class="fragment">Opinionated</li>
            <li class="fragment">MV**</li>
            <li class="fragment">Reusable Components</li>
          </ol>
				</section>

        <section>
          <section>
            <h2>Basics<h2>
          </section>
          <section>
            <h2>Modules</h2>
            <p><i>Tie a bunch of pieces into a larger app. By type or by feature?</i></p>
            <pre><code class="js" data-trim>
angular
  .module('fancyModule, []);

// Angular's dependency system lets you require components
angular
  .module('bigPlainModule', ['fancyModule']);
            </code></pre>
          </section>
          <section>
            <h4>By Type</h4>
            <pre>
app.js
/directives
  - directive.js
/services
  - service.js
../partials
  - directive.html
            </pre>
            <h4>By Feature</h4>
            <pre>
app.js
/navbar
  - navbarDirective.js
  - navbarService.js
  - navbar.html
            </pre>
          </section>
          <section>
            <h2>Controllers</h2>
            <p><i>Data entrypoint, no DOM manipulation here</i></p>
            <pre><code class="js" data-trim>
app
  .controller('myCtrl', ($scope, myService) => {
    $scope.myService = myService;
  });
            </code></pre>
          </section>
    
          <section>
            <h2>Providers</h2>
            <p><i>Are singletons. Includes value, constant, service and factory recipes. Used for things like model resources or state.</i></p>
            <pre><code class="js" data-trim>
app
  .service('myService', () => {
    return {
      getData: getServiceData()
    }
  });
            </code></pre>
          </section>
          <section>
            <h2>Filters</h2>
            <p><i>Primarily template layer filters for output manipulation</i></p>
            <pre><code class="js" data-trim>
app
  .filter('squareCurrency', () => {
    return function(value) {
      return '$' + (value * value);
    }
  });
            </code></pre>
            <p><i>Can be used in the template like this:</i></p>
            <pre><code data-trim>
{{ valueToSquare | squareCurrency }}
            </code></pre>
          </section>
          <section>
            <h2>Directives</h2>
            <p><i>Reusable, focused components with contained styles and behaviors</i></p>
            <pre><code class="js" data-trim>
app
  .directive('myDirective', () => {
    return {
      template: `<input type="text" ng-model="textValue" />{{ textChangeStatus }}`,
      controller: ($scope) => {
        $scope.$watch('textValue', (newval, oldval) => {
          if (newval !== oldval) {
            $scope.textChangeStatus = `${oldval} has changed to ${newval}`;
          } else {
            $scope.textChangeStatus = `textValue hasn't changed`;
          }
        });
      }
    }
  });
            </code></pre>
          </section>
        </section>

        <section>
          <h2>Represented in HTML</h2>
          <pre><code class="html" data-trim>
<!-- The controller is basically a wrapper at the root of your app -->
<div id="appContainer" ng-controller="appCtrl">

  <!-- This directive uses a service to fetch slideshows, then displays each of them -->
  <slideshow-directive
    slides="slides.data"
    ng-repeat="slides in slideshowService.slideshows"
    >
  </slideshow-directive>

  <!-- Hypothetical filter that does a simple reduce to find the total value of the slides -->
  <h6>These slides are worth {{ slideshowService.slideshows | totalValue }}</h6>
</div>
          </code></pre>
        </section>

        <section>
          <h2>The Slideshow Directive</h2>
          <p>Let's walk through how we'd go about building a slideshow directive. It's going to be a component we can reuse in any application, if we just feed it the right data</p>
          <p>With the right webpack setup, even any styles, images or fonts you might need for this directive will be wrapped up in a bundle, so including it in a project it as simple as adding one JavaScript file</p>
        </section>

        <section>
          <h2>The Module</h2>
          <pre><code class="js" data-trim>
var app = angular.module('mySlideshow', []);
          </pre></code>
          <p class="small"><i>It is idiomatic in Angular to build your apps with just the angular object. Using var app here for clarity.</i></p>
        </section>

        <section>
          <h2>The Service</h2>
          <p><i>This service can be injected anywhere in our app -- controllers, directives -- and the singleton will be available</i></p>
          <pre><code>
var app = angular.module('mySlideshow');
app.service('slideshowService', () => {
  return {
    slideshows: [
      ['slide1.png', 'slide2.png'],
      ['slide2-1.png', 'slide2-2.png']
    ]
  }
});
          </pre></code>
          <p class="small"><i>Notice we hooked the mySlideshow module without dependency arguments. Dependencies are only used on initialization and will throw an error if you try to set them again.</i></p>
        </section>

        <section>
          <section>
            <h2>The Directive</h2>
            <pre><code class="js" data-trim>
  var app = angular.module('mySlideshow');
  app.directive('slideshowDirective', (slideshowService) => {
    return {
      templateUrl: 'slideshow.html',
      controller: function($scope) {
        $scope.slideshowService = slideshowService;
      }
    }
  });
            </pre></code>
            <p><i>We've injected the service here, so the slideshow arrays we set up are available in the directive. When we set the service as a $scope variable, that object becomes available in the directive template.</i></p>
          </section>

          <section>
            <h2>With isolate scope</h2>
            <p><i>Isolate scope helps with data flow control, and prevents your components from leaking.</i></p>
            <pre><code class="js" data-trim>
  var app = angular.module('mySlideshow');
  app.directive('slideshowDirective', (slideshowService) => {
    return {
      // These scope variables will be available in your template
      scope: {
        owner: '=',
        title: '@'
      }
      templateUrl: 'slideshow.html',
      controller: ($scope) => {
        $scope.slideshowService = slideshowService;
      }
    }
  });
            </pre></code>
            <p><i>From your base template:</i></p>
            <pre><code class="html" data-trim>
<my-slideshow owner="ownerObject" title="A New Slide Title"></my-slideshow>
            </pre></code>
            <p><i>From your base template:</i></p>
            <pre><code class="html" data-trim>
<h2>{{ title }}</h2>
<span>by {{ owner.name}}</span>
<li ng-repeat="slide in slideshow.slideshowService.slideshows[0]"></li>
            </pre></code>
          </section>

          <section>
            <h2>Advanced Directives</h2>
            <p><i>Angular 2.0 (and current work in 1.4) is trying to get away from the confusing $scope idiom, so best practice is to use controllerAs to namespace your controller/directive controller variables</i></p>
            <pre><code class="js" data-trim>
  var app = angular.module('mySlideshow');
  app.directive('slideshowDirective', (slideshowService) => {
    return {
      templateUrl: 'slideshow.html',
      controllerAs: 'slideshow',
      bindToController: true,
      controller: () => {
        var vm = this;
        vm.slideshowService = slideshowService;
      }
    }
  });
            </pre></code>
            <p><i>And in the template:</i></p>
            <pre><code class="html" data-trim>
<li ng-repeat="slide in slideshow.slideshowService.slideshows[0]"></li>
            </pre></code>
          </section>
        </section>

        <section>
          <h2>The Template</h2>
          <pre><code class="html" data-trim>
<button ng-click="activeIndex = activeIndex - 1">&lt;</button>
<img ng-repeat="slide in slideshow.slideshowService.slideshows[0] track by $index"
  ng-src="{{ slide }}"
  ng-show="activeIndex === $index"
  ></img>
<button ng-click="activeIndex = activeIndex + 1">&gt;</button>
          </code></pre>
        </section>

        <section>
          <h2>Demo Time</h2>
          <a href="http://dmachat.github.io/angular-slideshow-webpack">Slideshow Demo</a>
        </section>

        <section style="text-align: left">
          <h2>Resources</h2>
          <ul>
            <li><a href="http://github.com/dmachat/angular-slideshow-webpack">Slideshow Demo Repo</a></li>
            <li><a href="http://dmachat.github.io/angular-webpack-cookbook">Angular Webpack Cookbook</a></li>
            <li><a href="http://github.com/johnpapa/angularjs-styleguide">Angular Styleguide</a></li>
          </ul>
        </section>

				<section>
					<h1>THE END</h1>
				</section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
